@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1300px;
    margin: 0 auto;
}

nav, footer {
    padding: 15px;
    background-color: black;
}

footer {
    margin-top: 102px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
}

ul li a {
    color: #fff;
    text-decoration: none;
}

header {
    padding-top: 114px;
    font-family: Inter;
    font-size: 88px;
    font-weight: 500;
    line-height: 93px;
    text-align: center;
}

main {
    padding-top: 114px;
    justify-content: center;
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
}

.box {
    text-align: center;
    width: 393px;
}
 
.box h3 {
    margin-top: 30px;
}

.box p {
    margin-top: 10px;
    color: #808080;
}